  <div class="text-white bg-dark">
    <h1>header</h1>
  </div>

<div class="container">
  <section class="main row">
    <article class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
      <h3>Articulo</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eligendi rerum maiores doloremque dolore
        delectus architecto praesentium, a deleniti obcaecati ducimus magnam officiis odit dolor iste excepturi commodi
        facere nesciunt.</p>
    </article>

    <aside class="d-none d-sm-none d-md-block col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="p-3 mb-2 bg-danger text-white">
        <h3>Aside</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, nobis? Consequuntur ipsam sequi corporis hic
          illo corrupti alias neque voluptatem. Cupiditate adipisci quisquam voluptate quia sunt tenetur magni suscipit
          dolorem veritatis vero. Rerum incidunt debitis repellat, recusandae nihil dolorem architecto!</p>
      </div>
    </aside>
  </section>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="p-3 mb-2 bg-secondary text-white">
        <h3>Columna 1</h3>
        <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet corrupti error eaque
          sapiente odit illum iure quae eum natus facere. Reiciendis porro obcaecati quo quisquam laudantium amet
          quaerat est magnam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi quas, optio atque facilis obcaecati
          perferendis similique expedita! Voluptatibus, aut dolorum?</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <h3>Columna 2</h3>
      <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut voluptates illo perferendis
        pariatur, amet eos odit. Quos voluptatum, dolores ipsa vel, voluptatibus dolorum enim, placeat magnam in amet
        quibusdam culpa!</p>
    </div>
    <div class="clearfix visible-sm-block"></div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="p-3 bg-secondary text-white">
        <h3>Columna 3</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto amet cumque dolorem et
          consectetur a doloremque fugit at, quam deserunt error cupiditate similique illo sequi rem velit hic eligendi
          debitis!</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h3>Columna 4</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dicta atque officia
        repudiandae, eveniet in maxime consequuntur. Neque modi, a necessitatibus voluptatum ducimus delectus odio, hic,
        iusto sint dolorem ea!</p>
    </div>

  </div>

</div>
